


body, html {
  height: 100%;
  min-height: 100%;
}

.name {
  font-size: 2rem;
  font-style: italic;
}


#login{
  color: black;
}

.profile-map{
  height: 90%;
}

.outer {
  width: 100%;
  height: 100%;
}

.bar-options {
  font-size: 15px;
}
