<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Cormorant|Forum|Gilda+Display|Raleway+Dots" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<meta charset="UTF-8">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/stylesheets/cunyConnectedStyles.css">
    <link rel="stylesheet" href="/stylesheets/mycss.css">
	<title>Reco</title>
</head>
<body onresize="resizeElements()">
	<div class=container-fluid>
		<nav class="navbar navbar-dark bg-dark justify-content-between col-12" id="navbar-top" >
  			<div class="ml-0 mr-auto d-inline">
  					<div class = "hamburgler d-inline-block ml-0 mr-5" onclick="hamburgler(this)"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div></div>
  					<a class="navbar-brand ml-auto mr-0 d-inline" id="brandName" href="">Reco</a>
  			</div>
  			<form method="get" class="form-inline ml-auto mr-auto col-10" id="searchDiv">
    				<input class="form-control ml-auto mr-2" type="search" placeholder="Search" aria-label="Search" id="search">
    				<button class="btn btn-outline-success mr-auto" type="submit">Search</button>
            </form>
            <!-- Login Button -->
  			<%- loginField %>
		</nav>

    <form class = "form-inline" style="position:absolute; left: 35%; top: 40%; background-color: white; z-index: 100; width: 30%; height: 20%;" id = "loginForm" action="/m">
        <div class = "form-inline ml-5 mt-5">
            <label for = "user">Username:</label>
            <input class = "form-control" style = "width: 70%;" type = "text" name = "user" id = "user">
        </div>
        <div class = "form-inline ml-5 mt-4">
            <label for = "pass">Password:</label>
            <input class = "form-control" style = "width: 70%;" type = "password" id = "pass">
        </div>
        <div class = "form-inline mt-4" style = "display: flex; margin-left: 75%;">
					<!--login button-->
            <!-- <input type="button" class="btn btn-primary btnSeccion" id="btnSeccion3" value="Login"/> -->
            <input  class = "btn" style = "display: flex;" method = "post" type = "submit" id = "submitLogin" value = "Login" onclick = 'login()'>
        </div>
    </form>


		<span class="dropdown-menu bg-dark col-3" id="myDropdown" >
			<ul>
          <h2 class="text-light text-left" id = "eventsSide">Events</h2>
            <ul>
                <li><a class = "event-txt" href = "https://www.yelp.com/biz/northside-festival-williamsburg?osq=Events+This+Weekend">Northside Festival</a><div class = "eventSideDet"><a href = "https://www.yelp.com/biz/northside-festival-williamsburg?osq=Events+This+Weekend">Link</a></div></li>
                <li><a class = "event-txt" href = "https://www.yelp.com/biz/house-of-yes-brooklyn?osq=Events+This+Weekend">House of Yes</a><div class = "eventSideDet"><a href = "https://www.yelp.com/biz/house-of-yes-brooklyn?osq=Events+This+Weekend">Link</a></div></li>
                <li><a class = "event-txt" href = "https://www.yelp.com/biz/then-she-fell-brooklyn?osq=Events+This+Weekend">Then She Fell</a><div class = "eventSideDet"><a href = "https://www.yelp.com/biz/then-she-fell-brooklyn?osq=Events+This+Weekend">Link</a></div></li>
                <li><a class = "event-txt" href = "https://www.yelp.com/biz/museum-of-the-moving-image-astoria?osq=Events+This+Weekend">Museum of the Moving Image</a><div class = "eventSideDet"><a href = "https://www.yelp.com/biz/museum-of-the-moving-image-astoria?osq=Events+This+Weekend">Link</a></div></li>
            </ul>
				</ul>
		</span>
	</div>

<div class="index-map" id="map"></div>
<%- chat %>
    <p class="hide">Address: <input type="text" class="search_addr" size="45"></p>
    <p class="hide">Latitude: <input type="text" class="search_latitude" size="30"></p>
    <p class="hide">Longitude: <input type="text" class="search_longitude" size="30"></p>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtGxlx-hvrPaP3c9PDAheL0QJhkokyCXw&libraries=places&callback=initMap"
    async defer></script>
    <script src="/javascripts/gmaps.js"></script>
	<script src="/javascripts/documentLoad.js"></script>
	<!-- <script src="./eventLoad.js"></script> -->
</body>
</html>
